$purple: #865fdf;
$btn-bg: #8f69e8;
$panel-bg: #fff;
$ease: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$quart: cubic-bezier(0.165, 0.84, 0.44, 1);

.dexter-panel {
  background: $panel-bg;
  box-shadow: 0 0 30px 10px rgba(black, 0.3);
  border-radius: 25px;
  transition: 0.2s $ease;
  transform: rotateX(-90deg);
  visibility: hidden;
  pointer-events: none;
  &.is--open {
    transform: rotateX(0deg);
    visibility: visible;
    pointer-events: all;
  }
}

.dexter-panel__content {
  padding-bottom: 4em;
  background: $panel-bg;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #5a5a5a;
  text-align: center;

  h4 {
    padding: 1.5em 0;
    border-bottom: 2px solid #ededed;
    color: $purple;
    font-size: 1.15em;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    padding: 0.5em 1.5em;
    font-size: 3em;
    font-weight: 300;
  }
  p {
    margin: auto;
    width: 55%;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.4;
  }
}

.dexter-panel__flaps {
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.dexter-flap {
  height: 100px;
  background: $purple;
}
.dexter-flap__btn {
  width: calc((100% - 212px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $btn-bg;
  color: white;
  cursor: pointer;
  font-size: 2.25em;
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
  transition: 0.2s ease;
  transform: translate3d(0, 0, 0);
  transform-origin: top center;

  &:hover,
  &:focus {
    background: $purple;
    outline: none;
    transform: rotateX(-25deg) translate3d(0, 0, 0);
  }
}
.dexter-outer {
  width: 106px;
}
.dexter-flap--left {
  border-bottom-left-radius: 25px;
  transform-origin: top right;
}
.dexter-flap--right {
  border-bottom-right-radius: 25px;
  transform-origin: top left;
}
.dexter-is--open {
  .dexter-outer {
    animation: swing 1.5s 0.2s ease;
  }
  .dexter-flap__btn:first-of-type {
    animation: swing 1.5s 0.3s ease;
  }
  .dexter-flap__btn:last-of-type {
    animation: swing 1.5s 0.4s ease;
  }
}

@keyframes swing {
  10% {
    transform: rotateX(25deg);
  }
  50% {
    transform: rotateX(-15deg);
  }
  75% {
    transform: rotateX(5deg);
  }
  90% {
    transform: rotateX(-2.5deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

// Presentation Styles
*,
*:before,
*:after {
  box-sizing: border-box;
}

.dexter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  pointer-events: none;
}

.dexter-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  pointer-events: none;
}
